.all-books {
    display: flex;
    justify-content: space-evenly;
}

.book-container {
    border: 2px solid gray;
    padding: 10px;
    flex: 1;
    margin: 25px;
}

.book-image {
    width: 150px;
}